html, body {
	height: 100%;
	width: 100%;
}

.navbar {
	padding: 1% 0;
	font-size: 1.2em;
}

.collapse ul.navbar-nav>li>a {
    color: 	#2352AA;
}

.collapse ul.navbar-nav>li>a:hover {
    color: 	#FF8C00;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
	color: #D5D5D5;
	opacity: 1;
}


#home{
	background: url(img/new.png) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.card {
	width: 50rem;
	height: 50rem;
	margin-top: 15%;
    margin-left: 35%;
	transition: 0.3s;
}

.container {
	padding: 2px 16px;
}

.landing-text{
	display: table-cell;
	/* text-align: center; */
	vertical-align: middle;
}

.landing-text a{
	padding: 10px 10px;
    font-size: 1.8em;
    font-weight: 400;
}


.landing-text a:hover{
	padding: 12px 12px;
    font-size: 2em;
	font-weight: 450;
	color: 	#FF8C00;
}

.padding{
	padding: 80px 0;
}

.padding img {
	width: 100%;
}

#fix {
	background: url(img/background.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}

footer {
	width: 100%;
	background-color: #2352AA;
	padding: 5% 5% 10% 5%;
	color: #FFF;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}
.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}
.icon {
	max-width: 200px;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width:100%;
	}
}